// fonte
$fontPincipal: Roboto, sans-serif;


// selecao de cores
$corPrimaria: hsl(228, 33%, 97%);
$corSecundaria: #182C61;
$corDobotao: #44bd32;
$corproduts: #4cd137;

// dispositivos
$mobile: 767px;
$tablet: 1023px;